* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-color: #cac5c5;
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  height: 10%;
  background-color: #201e1e;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  color: white;


}

header a {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  transition: .3s all;
  padding: 0 5px;
  border-radius: 5px;
  /* height: 30px; */
  text-align: center;

  &:hover {
    background-color: red;
    color: white;
  }

}

header .logo {
  width: 40px;
  height: 40px;
  /* border: 2px solid red; */

  background-image: url('https://cdn.jim-nielsen.com/macos/128/news-2021-05-25.png');

  background-size: contain;
}

.active {
  color: red;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;


}

header h1 h1 {
  color: red;
  /* font-size: 20px; */
}

.searchbarheader{
  display: flex;justify-content: center;
  align-items: center;
}

.searchbarheader input[type=text]{


  width: 70%;
  height: 40px;
  border: none;
  text-align: center;
  font-size: 18px;
  outline: none;
  border-radius: 10px;


}

.searchbarheader input[type=submit]{
  height: 40px;
  width: 70px;
  padding: 5px;
  border: none;
  margin-left: -15px;
  background-color: #ff0c14;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 5px;
}

footer {
  width: 100%;
  height: 10%;
  background-color: #333232;
  position: absolute;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  bottom: 0;

  
}

footer a{
    color: rgb(255, 255, 255);
  }

.main {
  width: 100%;
  height: 80%;
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding:5px 0 10px 0;
  position: relative;
  padding-bottom: 0px;
    perspective: 200px;
    


}

.newscard {
  width: 320px;
  height: 450px;
  /* height: fit-content; */
  font-size: 10px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.08) 2px 4px 12px 0px
  ;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  padding: 1px;
  padding-bottom: 5px;
  transition: .2s all ease;

  animation-name: newscards;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

  /* text-align: center; */

}

@keyframes newscards {
  
  from{
    transform: scale(.99);
    opacity: .3;
  }
  to{
    transform: scale(1);

  }
  
}

.newscard img {
  width: 100%;
  height: 200px;
  /* transition: .5s; */

}

.newscard h1 {
  /* border: 2px solid red; */
  height: 100px;
  padding: 5px;
  /* overflow: hidden; */
}

.newscard p {
  height: 100px;
  /* border: 2px solid red; */
  font-size: medium;
  text-align: start;
  padding: 0 5px;
}

.newscard span {
  width: 100%;
  color: rgb(255, 255, 255);
  padding: 2px;
  font-size: 15px;
  /* border: 2px solid red; */
  background-color: #2a2979;
}

.newscard span p {
  height: fit-content;
  font-size: 14px;
}

.newscard:hover {

  transform: scale(.97);

  &.newscard button {
    width: 250px;
    background-color: #0dab34;
  }



}

.newscard button {
  width: 200px;
  height: 30px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #343333;
  font-size: 15px;
  margin-bottom: 2px;
  transition: .5s all;
  border-radius: 5px;


}

.newscard a{
  color: rgb(0, 0, 0); 
  text-decoration: none;
} 


.newscard a:visited{
  color: rgb(180, 2, 2); 
  text-decoration: none;
} 

strong {
  font-size: 25px;
}



.nextpagenews {

  width: 100%;
  padding: 10px;
  text-align: center;

}

.nextpagenews button {
  width: 300px;
  border: none;
  background-color: #0dab34;
  color: white;
  font-size: 20px;
  font-weight: bold;
  height: 50px;


}

button:hover {
  background-color: #0e7626;
  cursor: pointer;
}


i {
  display: none;
}

.menuphone{
  display: none;
}


.homepage{
  width: 100%;
  height: 100%;
  /* background-image: url('https://images.pexels.com/photos/5645082/pexels-photo-5645082.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  color:white;
  
}

.content{
  /* border: 2px solid red; */
  height: 100%;
  /* font-size: 20px; */
  width: 100%;
  backdrop-filter: brightness(.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 20px;
  
}

.content h1{
  font-size: 100px;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 100px;
}

.content h1 b{
  background-color: red;
  border-radius: 10px;


}

.content .searchbar{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .searchbar input[type=text]{ 
  width: 300px;
  height: 40px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border: 5px solid rgba(226, 220, 220, 0.734);
  outline: none;

  /* font-weight: 700; */
}

.content .searchbar input[type=submit]{
  width: 100px;
  height: 40px;
  margin-left: -20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #949494;
  color: white;
  font-size: 20px;
  transition: .3s all;

  
}

.content .searchbar input[type=submit]:hover{

  background-color: #201e1e;

}

.content h2 b{
  background-color: rgb(195, 2, 2);

  font-size: 30px;
  border-radius: 10px;
  
  padding: 0 5px;
}


@media (max-width:790px) {
  header ul {
    display: none;
  }

  i {
    display: block;
    font-size: 20px;
    font-weight: bold;
  }
}

.menuphone {
  position: absolute;
  background-color: rgba(68, 67, 67, 0);
  z-index: 999;
  top: 10%;
  right: 0;
  text-align: center;
  backdrop-filter: blur(100px) brightness(.5);

  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: menuphone;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;

}

.menuphone ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  /* color: white; */
  text-decoration: none;

  gap: 10px;
 


}   

.menuphone h1 {
  color: red;
}

.menuphone a {

  text-decoration: none;
  color: #f5f7fa;
  font-size: 20px;
}

@keyframes menuphone {

  from{
    transform: translateX(30%);
  
  }
   
  to{
    transform: translateY(0%);
  }
  
}

/* -----------------LOADER--------------- */

.loader-wrapper{
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader  {
  animation: rotate 1s infinite;  
  height: 50px;
  width: 50px;
  /* padding: 10px; */
}

.loader:before,
.loader:after {   
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;  
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;  
  background-color: #cb2025;
  box-shadow: 30px 0 0 #f8b334;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite; 
  background-color: #00a096;
  box-shadow: 30px 0 0 #97bf0d;
}

.searchresult{

  width: 100%;
  text-align: center;
  background-color: #d90d0daa;
}

@media (max-width:630px) {

  .content h1{
    scale: .76;
    /* gap: 5px; */
 
  }

  .searchbar{
    scale: .8;
  }

  

  .content{
    gap: 4px;
  }

  .homepage{
    width: 100%;
    height: 100%;
    padding: 0;
  }

 

  .newscard{
    width: 90%;
  }

 
  
}

@keyframes rotate {
  0% { 
    -webkit-transform: rotate(0deg) scale(0.8); 
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% { 
    -webkit-transform: rotate(360deg) scale(1.2); 
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% { 
    -webkit-transform: rotate(720deg) scale(0.8); 
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #f8b334;
  }
  50% {
    box-shadow: 0 0 0 #f8b334;
    margin-bottom: 0;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #97bf0d;
  }
  50% {
    box-shadow: 0 0 0 #97bf0d;
    margin-top: -20px;
    -webkit-transform: translate(15px,15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #97bf0d;
    margin-top: 0;
  }
}
